## Part 1
**Read the data into Jupyter**

In [1]:
# import pandas and read file 
import pandas as pd
pima_df = pd.read_csv(r"C:\Users\jules_7owst96\code\Grand Circus\Week3\diabetes_uncleaned_data.csv")
pima_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3.0,167.0,39,28,545,53.0,2.447,125.0,FALSE
1,13.0,151.0,107,38,10000,9.2,0.507,148.0,FALSE
2,8.0,59.0,109,18,739,59.1,1.769,91.0,TRUE
3,11.0,132.0,83,11,376,4.1,2.772,NaN,TRUE
4,10.0,165.0,48,37,737,39.4,0.729,73.0,FALSE

## Part 2
**Missing Data**

In [2]:
pima_df.describe()  # checking to see if any values seem crazy off

,Pregnancies,Glucose,SkinThickness,Insulin,DiabetesPedigreeFunction,Age
count,890.000000,988.000000,1004.000000,1004.000000,1004.000000,982.000000
mean,6.626966,99.630567,25.288845,459.386454,1.421047,85.857434
std,5.343136,58.016384,14.592717,398.288770,3.322955,37.023177
min,-100.000000,0.000000,0.000000,2.000000,-100.000000,21.000000
25%,3.000000,48.000000,13.000000,220.750000,0.722500,54.000000
50%,7.000000,102.500000,25.000000,447.000000,1.535500,85.000000
75%,10.000000,151.000000,38.000000,665.000000,2.316000,117.000000
max,13.000000,200.000000,50.000000,10000.000000,2.998000,150.000000

In [3]:
# Question 1, find columns with missing data
pima_df.isnull().sum()

Pregnancies                 114
Glucose                      16
BloodPressure                22
SkinThickness                 0
Insulin                       0
BMI                           1
DiabetesPedigreeFunction      0
Age                          22
Outcome                       0
dtype: int64

In [4]:
# Question 2, remove rows with missing data and save the new df as pima_missing_fixed_df.
pima_missing_fixed_df = pima_df.dropna()  # dropna drops rows with any missing data

In [5]:
# Question 3:  Print out the number of rows in the dataframe.
pima_missing_fixed_df.info() # 840

<class 'pandas.core.frame.DataFrame'>
Index: 840 entries, 0 to 1003
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               840 non-null    float64
 1   Glucose                   840 non-null    float64
 2   BloodPressure             840 non-null    object
 3   SkinThickness             840 non-null    int64
 4   Insulin                   840 non-null    int64
 5   BMI                       840 non-null    object
 6   DiabetesPedigreeFunction  840 non-null    float64
 7   Age                       840 non-null    float64
 8   Outcome                   840 non-null    object
dtypes: float64(4), int64(2), object(3)
memory usage: 65.6+ KB

In [6]:
pima_df2 = pima_df.dropna(subset=['Pregnancies']) # only dropping rows with missing data in Pregnancies
pima_df2.info() # Went with total dropna, but wanted to show different possible route

<class 'pandas.core.frame.DataFrame'>
Index: 890 entries, 0 to 1003
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               890 non-null    float64
 1   Glucose                   876 non-null    float64
 2   BloodPressure             874 non-null    object
 3   SkinThickness             890 non-null    int64
 4   Insulin                   890 non-null    int64
 5   BMI                       889 non-null    object
 6   DiabetesPedigreeFunction  890 non-null    float64
 7   Age                       871 non-null    float64
 8   Outcome                   890 non-null    object
dtypes: float64(4), int64(2), object(3)
memory usage: 69.5+ KB

**Question 4, discuss why this could be a problem. What other methods?**

Using dropna on entire dataframe can end up removing a significant portion of our sample size. 
Minimizing the sample size affects our measures of statistical power. Methods to reduce this could be only droping rows that have a significantly high amount of missing values in one specific category. Additonally, we can use measures of central tendency(mean, median, mode) to fill in missing data. This should be done with in reason.

## Part 3
**Duplicated Data**

In [7]:
# Question 1, In your Jupyter Notebook, find the rows of duplicated data and print them.  
duplicates = pima_missing_fixed_df[pima_missing_fixed_df.duplicated()]
duplicates

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
925,6.0,39.0,46,2,287,40.4,2.394,60.0,TRUE
926,10.0,67.0,39,12,168,53.4,0.162,71.0,FALSE
999,6.0,110.0,26,27,590,20.8,1.185,95.0,FALSE
1003,6.0,151.0,60,26,362,43.4,2.027,23.0,FALSE

In [8]:
pima_missing_fixed_df.duplicated().sum() # find the count of duplicates, matches chart

4

In [8]:
# Question 2, remove the duplicate rows and save the new dataframe as pima_dedupped_df
pima_dedupped_df = pima_missing_fixed_df.drop_duplicates()
pima_dedupped_df.describe()  # looking at changes from original

,Pregnancies,Glucose,SkinThickness,Insulin,DiabetesPedigreeFunction,Age
count,836.000000,836.000000,836.000000,836.000000,836.000000,836.000000
mean,6.582536,99.727273,25.438995,455.406699,1.513062,86.105263
std,5.430376,58.585460,14.494512,420.507759,0.884329,36.904258
min,-100.000000,0.000000,0.000000,2.000000,0.001000,21.000000
25%,3.000000,47.000000,13.000000,216.000000,0.721000,54.000000
50%,7.000000,103.000000,25.000000,435.500000,1.508000,85.000000
75%,10.000000,151.000000,38.000000,660.250000,2.316000,117.000000
max,13.000000,200.000000,50.000000,10000.000000,2.998000,150.000000

In [9]:
# Question 3: Print out the number of rows in the dataframe
pima_dedupped_df.info() # dropped from 840 to 836, difference matches our count of 4 duplicates

<class 'pandas.core.frame.DataFrame'>
Index: 836 entries, 0 to 1002
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               836 non-null    float64
 1   Glucose                   836 non-null    float64
 2   BloodPressure             836 non-null    object
 3   SkinThickness             836 non-null    int64
 4   Insulin                   836 non-null    int64
 5   BMI                       836 non-null    object
 6   DiabetesPedigreeFunction  836 non-null    float64
 7   Age                       836 non-null    float64
 8   Outcome                   836 non-null    object
dtypes: float64(4), int64(2), object(3)
memory usage: 65.3+ KB

## Part 4 
**Mis-typed Columns/Broken Data**

In [10]:
# Question 1, part 1
# find the columns where most of the data seems to be one type of data, and there seems to be a data error.
pima_dedupped_df.dtypes  # dtypes shows use the different data types
# look at unique values to try to identify potential errors
for column in pima_dedupped_df.columns:
    print(f'{column}:{pima_dedupped_df[column].unique()}')

Pregnancies:[   3.   13.    8.   10. -100.    6.    0.   11.    4.    7.    9.    5.
    2.   12.    1.]
Glucose:[167. 151.  59. 165. 142. 179.  31.  51. 158. 111. 188.   6. 159.  86.
 117. 127. 180.  72.  56.  13. 114.   8. 183.  70.  67.  69.  48.  92.
  10.  39. 115. 189.  85.  27.  79. 118. 146.  16. 143.  23.  83. 178.
  93. 153. 126.  60. 133. 184.  12.  42.   3. 106. 138.  35.  63.  96.
 187.  43. 164. 130. 160. 131. 129. 107.  29. 156.  68.  40. 193. 103.
 119. 150. 195. 185. 112.  11.   7. 147.  75.  18. 141.  20.  17.  57.
 196. 162.  95. 171.  36. 139. 145.  98. 161. 174. 134.  19. 182.  99.
 192.  38. 108.  15.  47.  46. 128.   0.  77. 177.  33.  90.  28. 144.
 186. 155. 170. 172. 191. 163. 116.  14.  52.  55.  81. 120.  62. 181.
  80.  34.   1. 110.  71. 154.  87. 109. 169. 122.  82.  30. 121.  88.
 168.  73. 148.  32.   5.   9.  37. 176.  94. 149. 200.  97.   4.  64.
 140.  76.   2. 199. 173.  65. 166. 190. 157. 102.  45. 137. 194.  54.
  24.  44.  21.  66. 104. 101. 124.  78. 123. 152. 125.  74.  49.  26.
 136. 197.  41.  22.  50. 132.  84. 175.  58. 113.  25. 100.  53.  61.]
BloodPressure:['39' '107' '109' '48' '88' '60' '0' '38' '73' '59' '58' '96' '64' '53'
 '93' '37' '74' '47' '85' '71' '79' '6' '87' '2' '35' '57' '102' '49' '22'
 '100' '24' '81' '31' '105' '70' '75' '32' '68' '55' '101' '77' '67' '23'
 '43' '16' '7' '34' '46' '66' '1' '52' '106' '9' '4' '104' '5' '25' '15'
 '94' '11' '90' '41' '45' '40' '36' '3' '28' '61' '27' '63' '72' '62' '14'
 '17' '97' '50' '76' '33' '12' '82' '91' '29' '20' '26' '54' '92' '99'
 '103' '30' '51' '13' '42' '18' '8' '89' '65' '21' '95' '110' '78' '86'
 '10' '80' '44' '19' '84' '69' '108' '98' '83' '56' '10000' 'Error']
SkinThickness:[28 38 18 37 39 26 19 50 42 23 16 35 34 27 22 40 12  7 44  2 48 43  8 14
 20 30  6 29 31 32 25 47 24 13  1 15 41 11 45 49  3 10 21  0  4 17 36  9
 46 33  5]
Insulin:[  545 10000   739   737    82   362   238   455   662   649    44   834
   161   121   621   343   820   103   601   210   606   135   729   692
    63    77   440   317   653   768   638   603   816   171    42   216
   299   736   471   377   324   334    90   811   812   875   624   641
   130   562   804   592   576   429    28   802    91   554   502   262
   827   241   352   521    32   785   336   476   151   660   886   378
   164   292   881   373   703   848   558    59   488   806   282   413
   852   691   748    64   293   665   817   284   300   245   156   629
   873    10   154   193   244   342   134   651   547   233   228   187
   870   155   497    74   268   747   120   331   195   514    14   448
   225   441   264   196    11   114   298   588   865   118   698   777
   141   686    62   658   169   372   727   381   899   597   357   158
   338   572   710   122   113   252   224   770   721   105   840    72
   735   433   221    88   217   889   767   485   594   107   185   209
   247   456   465   525   612   878   479    31   602   483   106   295
   645   119   459   419   316   179    68    75    86   696   718   536
   725   670   325    73   410   529   370   177   146   900   205   659
   522   446   792   613   815   472    85   819   153   215   333   353
   654   398   222   869   404   266   351   302   887   672   230   861
   159   346   392   112   823   557   829   871   278   416   206    97
   482   750   480   797   788   408   693   354   467   877    36   862
   575   754    22   388   538   566   847   250   213   549   368   794
   269   436   746   647   517   389   839    23   570   365   719   160
   486   312    96   117   605   639   251   533   683    21   793    84
   421   607    15    54   382   311   897   556   688   835   578   457
   197   705   671   308   157   248   677   666   681   466   628   728
   307   769   340   409   591    17   223   200   109   272   573   162
   640    46   582   631    35   661   826   843   571   543   757   890
   515   892   420   722   288    41   726   491   795   310     7   426
   175   567   523   831   424   519   165   540   405   411   108   655
   838   618   650   287   132   614   474   358   846   564   208   136
   555   782   583    50   276   611   462   596   884   742    89    45
   229   487   888   642   762   853    27   444   102   617    92   126
   301     2   625   546   274   585   453   550   637   407    39   860
   192   674   226   509   763   172   435    71   741   364   145   854
   239   544   801   627   184   461   201    57   883   680    19   604
   443   477   524    53   568   386   255   527   581   675   609   234
   320   393   395    51   700   738   348    43   339    55   495   140
   129   367   116    81   734   181   500   510   724   227     6   403
   885   415   764   355   273   142   664    37   139   329   856   800
   460   454   636   808   166   553   656    38   188   844   306   520
   163   309   898   327   402    87   697   896   124   876   168   879
    24   198    69   380   137   359   261   493   267   194   296   379
   574   587   755   749   644   580   489   131   518   874   297   503
   753   152   330   537   430   766   363   841   412   212   590]
BMI:['53.0' '9.2' '59.1' '39.4' '42.7' '43.4' '47.7' '38.4' '23.3' '20.9'
 '29.0' '12.6' '21.5' '24.4' '18.0' '53.2' '31.5' '32.3' '1.3' '48.8'
 '32.6' '57.7' '2.2' '45.3' '1.0' '23.7' '25.4' '29.5' '7.5' '31.9' '7.8'
 '31.6' '43.0' '6.1' '7.1' '32.9' '59.7' '51.3' '2.8' '28.5' '19.9' '49.9'
 '44.3' '21.2' '55.5' '5.9' '19.8' '27.4' '55.9' '23.5' '12.4' '41.2'
 '3.4' '60.0' '21.7' '47.5' '43.9' '18.6' '10.0' '58.7' '11.3' '12.0'
 '39.8' '53.8' '40.6' '49.2' '18.1' '34.4' '30.1' '11.7' '52.4' '16.8'
 '27.9' '16.4' '54.7' '18.8' '8.5' '40.7' '15.5' '0.3' '7.0' '39.5' '51.0'
 '4.4' '7.9' '16.3' '57.1' '46.3' '39.1' '29.4' '17.8' '36.2' '42.2'
 '26.2' '29.8' '43.2' '14.7' '30.7' '41.0' '23.8' '13.4' '54.4' '51.6'
 '11.5' '0.9' '6.9' '8.2' '12.5' '4.2' '20.8' '30.9' '20.3' '46.2' '37.0'
 '27.3' '50.2' '2.0' '34.9' '15.4' '58.1' '9.7' '22.7' '35.6' '30.3'
 '44.9' '43.1' '50.8' '36.9' '17.9' '20.5' '34.6' '42.5' '53.4' '29.2'
 '9.6' '18.4' '30.0' '51.4' '1.9' '6.3' '38.6' '15.9' '43.5' '56.1' '25.9'
 '35.5' '54.6' '1.4' '58.5' '34.0' '59.4' '11.6' '48.6' '36.3' '50.4'
 '29.7' '8.1' '16.1' '36.6' '26.4' '13.9' '22.1' '38.8' '50.1' '5.7'
 '26.7' '15.1' '39.7' '29.3' '24.5' '49.5' '45.9' '13.1' '44.0' '56.9'
 '24.3' '22.8' '49.8' '56.2' '27.5' '32.8' '18.5' '8.3' '28.6' '57.5'
 '40.0' '11.8' '18.2' '12.7' '37.4' '57.4' '9.8' '42.4' '52.9' '40.3'
 '10.5' '25.5' '10.4' '46.5' '33.9' '35.3' '56.5' '52.0' '59.6' '27.2'
 '55.8' '54.0' '23.0' '20.1' '47.2' '36.1' '17.7' '50.3' '42.8' '56.6'
 '16.7' '44.4' '15.3' '11.0' '13.7' '41.7' '50.9' '17.6' '8.0' '9.5'
 '18.3' '22.3' '44.8' '12.8' '16.2' '3.9' '45.7' '57.2' '0.2' '13.3'
 '26.3' '55.0' '40.8' '58.4' '43.7' '51.1' '21.3' '38.9' '59.2' '34.3'
 '19.6' '50.5' '41.6' '25.6' '32.0' '33.7' '52.1' '38.2' '56.3' '38.7'
 '1.7' '3.6' '2.4' '5.8' '36.4' '56.8' '40.4' '23.4' '39.3' '53.6' '2.7'
 '28.8' '27.6' '13.2' '45.5' '54.9' '21.6' '22.6' '36.8' '11.9' '18.7'
 '1.1' '3.8' '31.1' '37.5' '33.0' '26.0' '31.8' '28.0' '12.2' '25.7'
 '31.3' '14.4' '55.7' '41.4' '37.6' '39.6' '3.5' '8.8' '54.8' '57.8'
 '26.8' '42.0' '7.4' '17.4' '21.0' '17.5' '4.1' '42.9' '47.6' '19.3'
 '55.1' '46.4' '26.1' '59.5' '49.0' '41.3' '0.7' '22.9' '41.8' '31.2'
 '25.2' '43.6' '35.1' '17.2' '53.5' '47.9' '58.0' '4.3' '5.5' '51.5' '9.4'
 '40.1' '14.2' '20.6' '0.5' '8.7' '41.9' '25.1' '54.2' '15.8' '32.2'
 '22.5' '10.1' '43.3' '7.7' '48.5' '15.7' '4.7' '52.2' '32.7' '7.6' '38.1'
 'Error' '17.3' '30.5' '20.0' '52.6' '47.1' '39.9' '5.0' '1.8' '21.1'
 '50.6' '51.7' '24.0' '10.6' '38.5' '6.7' '22.4' '46.1' '12.9' '3.1'
 '38.0' '48.7' '16.6' '46.7' '33.6' '27.8' '19.5' '19.4' '45.0' '58.8'
 '33.2' '7.2' '51.2' '21.8' '5.2' '35.7' '16.0' '25.3' '8.4' '32.4' '28.3'
 '29.9' '24.2' '44.5' '10.2' '45.8' '56.4' '33.1' '6.6' '47.0' '59.3'
 '26.5' '42.3' '3.2' '9.0' '57.9' '53.9' '22.0' '35.9' '28.4' '49.7'
 '36.7' '27.0' '11.1' '50.7' '1.5' '48.4' '8.9' '47.4' '41.5' '37.2'
 '16.5' '12.1' '28.7' '35.2' '30.4' '34.7' '20.2' '22.2' '56.7' '23.2'
 '14.6' '37.3' '10.8' '40.9' '34.1' '39.0' '31.0' '14.3' '52.7' '49.1'
 '50.0' '38.3' '33.8' '21.4' '25.8' '26.9' '46.8' '19.7' '35.8' '24.9'
 '48.9' '4.8']
DiabetesPedigreeFunction:[2.447e+00 5.070e-01 1.769e+00 7.290e-01 1.369e+00 2.027e+00 2.656e+00
 8.900e-02 9.020e-01 2.329e+00 2.549e+00 1.759e+00 1.826e+00 2.108e+00
 9.850e-01 4.110e-01 6.550e-01 1.566e+00 4.300e-01 2.316e+00 1.435e+00
 1.049e+00 3.070e-01 1.370e-01 1.738e+00 2.035e+00 2.488e+00 6.490e-01
 2.360e-01 1.180e+00 1.197e+00 1.428e+00 2.868e+00 2.650e+00 4.900e-02
 2.154e+00 3.510e-01 6.250e-01 3.500e-01 2.663e+00 2.622e+00 8.080e-01
 1.440e+00 3.400e-01 8.670e-01 2.378e+00 1.761e+00 8.250e-01 7.740e-01
 6.890e-01 1.700e+00 1.584e+00 2.096e+00 1.920e-01 2.873e+00 2.631e+00
 2.646e+00 2.526e+00 2.897e+00 7.620e-01 2.538e+00 1.338e+00 6.210e-01
 1.068e+00 2.590e+00 3.180e-01 2.090e+00 1.030e+00 2.840e-01 2.790e+00
 1.911e+00 7.120e-01 2.340e+00 1.659e+00 3.340e-01 1.981e+00 2.161e+00
 7.410e-01 7.670e-01 2.650e-01 1.781e+00 1.434e+00 1.787e+00 1.965e+00
 2.600e-01 5.840e-01 8.690e-01 1.694e+00 1.732e+00 1.280e-01 8.750e-01
 8.360e-01 1.467e+00 2.480e-01 1.187e+00 1.021e+00 5.320e-01 2.091e+00
 2.452e+00 2.439e+00 1.503e+00 1.665e+00 2.747e+00 5.570e-01 2.298e+00
 8.160e-01 1.370e+00 2.710e+00 1.494e+00 1.636e+00 2.011e+00 2.975e+00
 4.750e-01 2.082e+00 2.061e+00 2.948e+00 2.437e+00 5.980e-01 4.510e-01
 2.640e-01 1.289e+00 1.076e+00 2.583e+00 7.990e-01 1.766e+00 1.897e+00
 2.874e+00 1.570e+00 3.310e-01 3.830e-01 1.277e+00 2.540e-01 2.625e+00
 9.980e-01 7.030e-01 2.577e+00 2.600e+00 7.260e-01 3.390e-01 4.390e-01
 3.810e-01 8.490e-01 1.215e+00 1.504e+00 1.325e+00 1.917e+00 2.700e-01
 1.984e+00 4.890e-01 2.005e+00 2.537e+00 1.281e+00 2.944e+00 1.956e+00
 2.636e+00 2.998e+00 2.068e+00 2.943e+00 1.450e-01 2.280e-01 1.581e+00
 1.055e+00 2.602e+00 2.796e+00 5.020e-01 2.545e+00 1.869e+00 2.570e-01
 2.489e+00 2.254e+00 1.273e+00 2.516e+00 2.387e+00 1.116e+00 5.200e-01
 4.980e-01 1.150e-01 2.500e+00 2.029e+00 2.871e+00 9.320e-01 2.296e+00
 5.090e-01 2.156e+00 2.990e+00 1.292e+00 1.931e+00 1.332e+00 5.080e-01
 2.399e+00 1.380e-01 1.649e+00 2.401e+00 9.870e-01 2.765e+00 2.209e+00
 1.044e+00 5.720e-01 1.750e+00 5.900e-02 2.534e+00 6.530e-01 1.910e-01
 8.780e-01 1.604e+00 4.500e-02 1.185e+00 7.370e-01 9.220e-01 3.650e-01
 1.972e+00 6.700e-01 1.256e+00 2.311e+00 2.355e+00 2.633e+00 2.173e+00
 1.715e+00 2.576e+00 6.720e-01 1.603e+00 1.092e+00 2.843e+00 2.791e+00
 1.421e+00 1.041e+00 7.480e-01 2.780e-01 2.140e+00 1.160e+00 1.890e+00
 2.965e+00 1.129e+00 2.044e+00 2.208e+00 1.916e+00 1.845e+00 7.230e-01
 6.760e-01 2.152e+00 6.510e-01 2.658e+00 2.478e+00 8.800e-01 2.522e+00
 7.870e-01 2.190e-01 1.430e-01 7.180e-01 2.911e+00 2.043e+00 8.040e-01
 2.072e+00 2.176e+00 2.470e-01 2.195e+00 2.015e+00 2.307e+00 1.098e+00
 2.557e+00 1.120e-01 4.060e-01 1.319e+00 2.175e+00 1.775e+00 6.500e-01
 1.038e+00 5.170e-01 2.623e+00 1.186e+00 1.360e-01 2.171e+00 4.660e-01
 3.800e-02 6.070e-01 2.047e+00 3.350e-01 4.870e-01 1.134e+00 7.930e-01
 1.460e-01 2.904e+00 1.799e+00 6.610e-01 2.638e+00 6.740e-01 1.265e+00
 2.501e+00 2.992e+00 1.431e+00 7.210e-01 1.446e+00 2.814e+00 2.785e+00
 1.162e+00 2.199e+00 2.931e+00 2.541e+00 6.910e-01 2.614e+00 4.670e-01
 2.327e+00 1.118e+00 1.084e+00 1.297e+00 2.200e-01 3.580e-01 1.990e-01
 2.372e+00 2.912e+00 2.983e+00 1.807e+00 2.425e+00 2.679e+00 1.830e+00
 1.703e+00 2.429e+00 6.400e-02 2.164e+00 2.424e+00 1.909e+00 5.970e-01
 1.664e+00 7.780e-01 1.580e-01 9.820e-01 1.763e+00 1.989e+00 8.630e-01
 2.097e+00 2.205e+00 1.473e+00 6.780e-01 2.879e+00 1.190e+00 3.370e-01
 2.332e+00 3.870e-01 2.331e+00 1.072e+00 2.845e+00 1.562e+00 2.123e+00
 1.371e+00 3.980e-01 1.718e+00 1.235e+00 2.259e+00 1.436e+00 1.040e+00
 2.391e+00 1.634e+00 1.735e+00 1.535e+00 9.310e-01 1.362e+00 2.976e+00
 1.880e+00 8.140e-01 2.455e+00 4.150e-01 2.525e+00 2.003e+00 2.389e+00
 2.709e+00 2.745e+00 2.247e+00 2.597e+00 3.640e-01 2.688e+00 2.952e+00
 2.863e+00 1.397e+00 2.264e+00 2.826e+00 2.661e+00 1.327e+00 1.657e+00
 2.240e-01 1.301e+00 1.219e+00 1.161e+00 2.639e+00 2.457e+00 1.366e+00
 2.807e+00 2.500e-01 1.418e+00 1.121e+00 1.589e+00 1.593e+00 2.933e+00
 3.470e-01 2.840e+00 1.224e+00 2.174e+00 7.730e-01 2.916e+00 2.794e+00
 2.924e+00 1.827e+00 3.490e-01 2.821e+00 7.000e-02 6.900e-01 1.238e+00
 1.602e+00 2.471e+00 4.830e-01 1.148e+00 2.400e-02 2.000e-02 3.010e-01
 1.949e+00 2.670e-01 2.962e+00 2.774e+00 5.560e-01 1.776e+00 1.360e+00
 2.644e+00 2.508e+00 1.716e+00 4.210e-01 7.240e-01 1.640e+00 1.839e+00
 6.190e-01 1.128e+00 4.620e-01 1.605e+00 2.010e+00 2.258e+00 2.930e-01
 2.530e+00 2.345e+00 1.939e+00 2.812e+00 2.040e+00 2.250e+00 3.700e-01
 3.130e-01 1.206e+00 1.980e-01 5.930e-01 1.808e+00 5.670e-01 1.537e+00
 2.875e+00 1.921e+00 2.302e+00 2.894e+00 1.142e+00 1.138e+00 2.939e+00
 2.980e+00 1.913e+00 1.522e+00 2.365e+00 2.110e-01 1.637e+00 2.511e+00
 2.818e+00 2.588e+00 1.299e+00 2.382e+00 1.830e-01 1.651e+00 1.091e+00
 2.486e+00 2.642e+00 2.122e+00 2.179e+00 2.124e+00 1.334e+00 1.306e+00
 2.673e+00 1.613e+00 1.924e+00 1.796e+00 2.136e+00 2.559e+00 5.760e-01
 2.006e+00 9.800e-02 1.200e-02 1.340e-01 1.082e+00 4.880e-01 1.691e+00
 4.400e-01 1.114e+00 5.800e-01 2.573e+00 1.707e+00 1.978e+00 7.540e-01
 1.376e+00 2.715e+00 2.654e+00 2.945e+00 5.340e-01 8.760e-01 2.120e+00
 6.980e-01 1.601e+00 1.701e+00 6.310e-01 8.840e-01 2.836e+00 1.102e+00
 9.580e-01 1.650e+00 1.555e+00 5.770e-01 2.953e+00 9.050e-01 3.900e-02
 2.558e+00 5.310e-01 3.750e-01 2.910e+00 2.548e+00 5.950e-01 7.000e-03
 4.970e-01 3.060e-01 6.060e-01 4.770e-01 1.645e+00 2.190e+00 2.960e-01
 1.696e+00 2.751e+00 4.480e-01 9.340e-01 2.784e+00 2.798e+00 2.655e+00
 1.941e+00 7.460e-01 2.450e-01 2.569e+00 2.955e+00 7.820e-01 2.214e+00
 3.050e-01 2.767e+00 2.761e+00 8.350e-01 1.760e+00 2.280e+00 6.000e-02
 2.187e+00 8.910e-01 2.968e+00 7.080e-01 1.512e+00 1.762e+00 1.445e+00
 2.300e-02 2.748e+00 9.170e-01 1.495e+00 2.160e-01 1.022e+00 2.600e-02
 2.649e+00 1.552e+00 1.536e+00 1.000e-03 2.266e+00 1.160e-01 2.790e-01
 1.737e+00 6.990e-01 1.471e+00 8.820e-01 1.726e+00 7.400e-01 2.078e+00
 2.036e+00 1.282e+00 8.280e-01 2.556e+00 2.330e-01 8.580e-01 8.700e-01
 2.127e+00 8.560e-01 2.993e+00 2.410e+00 1.364e+00 1.501e+00 1.167e+00
 2.459e+00 2.213e+00 9.620e-01 2.755e+00 1.724e+00 2.092e+00 1.308e+00
 1.000e-02 8.620e-01 1.885e+00 2.786e+00 5.040e-01 3.120e-01 5.000e-01
 9.470e-01 2.261e+00 1.166e+00 5.000e-02 1.309e+00 1.883e+00 6.090e-01
 7.600e-02 2.315e+00 6.450e-01 2.397e+00 2.517e+00 9.970e-01 2.145e+00
 6.640e-01 9.960e-01 1.290e-01 6.950e-01 1.168e+00 1.381e+00 2.352e+00
 4.940e-01 1.196e+00 7.130e-01 1.713e+00 2.664e+00 9.800e-01 1.600e-01
 3.210e-01 1.514e+00 9.070e-01 2.778e+00 9.420e-01 2.180e+00 2.739e+00
 4.170e-01 9.090e-01 1.191e+00 2.854e+00 2.917e+00 2.394e+00 2.076e+00
 1.062e+00 7.350e-01 1.383e+00 5.500e-02 7.270e-01 2.713e+00 1.234e+00
 1.126e+00 2.317e+00 1.565e+00 1.620e-01 4.010e-01 7.340e-01 2.126e+00
 6.580e-01 7.430e-01 1.539e+00 1.159e+00 1.415e+00 4.400e-02 2.609e+00
 1.793e+00 1.172e+00 2.726e+00 2.375e+00 2.717e+00 2.706e+00 2.594e+00
 3.270e-01 6.590e-01 4.560e-01 5.450e-01 5.420e-01 1.905e+00 2.071e+00
 2.710e-01 1.024e+00 2.598e+00 8.400e-01 2.453e+00 1.557e+00 2.019e+00
 3.720e-01 1.239e+00 7.770e-01 4.420e-01 2.589e+00 2.703e+00 2.835e+00
 2.403e+00 2.020e-01 1.861e+00 2.934e+00 8.550e-01 1.261e+00 2.466e+00
 7.380e-01 3.440e-01 3.940e-01 2.678e+00 1.576e+00 1.969e+00 2.400e+00
 9.890e-01 2.411e+00]
Age:[125. 148.  91.  73.  23.  77. 115.  36.  32. 122.  24.  81.  84. 103.
  75.  59. 133.  54.  60. 141. 109.  49. 135.  26.  41.  50.  76. 132.
 139.  87.  62. 128.  74. 124. 105.  88. 111.  31.  93.  78.  66.  33.
  57. 137.  42.  43. 116.  40. 147. 102. 144.  67.  51.  86. 136. 126.
  28.  34. 145.  95. 114. 108.  90. 110.  94. 143. 107.  89. 142.  70.
 123.  25.  48. 120. 150.  58.  45. 113.  52.  96.  85.  29.  64. 134.
 130. 112. 118.  61.  38. 104.  35.  79.  44.  22.  99.  65.  30.  21.
 140. 146. 127. 121. 119. 129.  72. 131. 101.  63.  71.  56.  80. 149.
 117.  69. 138.  97.  83.  27.  92.  82. 100.  53. 106.  37.  47.  98.
  68.  46.  39.  55.]
Outcome:['FALSE' 'TRUE' 'ERROR']

In [11]:
pima_dedupped_df['BloodPressure'].value_counts().sort_index()  # double checking my errors

BloodPressure
0        10
1         6
10        4
100       8
10000     2
         ..
96       15
97        6
98        4
99        5
Error     2
Name: count, Length: 113, dtype: int64

In [12]:
pima_dedupped_df['BMI'].value_counts().sort_index()

BMI
0.2      2
0.3      2
0.5      1
0.7      2
0.9      1
        ..
9.5      4
9.6      1
9.7      1
9.8      1
Error    1
Name: count, Length: 451, dtype: int64

In [13]:
pima_dedupped_df['Outcome'].value_counts().sort_index()

Outcome
ERROR      1
FALSE    441
TRUE     394
Name: count, dtype: int64

**Question 1, Part 2(Discuss Error)**

**Errors found:**

2 in Blood Pressure

1 in BMI

1 in Outcome

**Datatypes that need to change:**

Blood Pressure and BMI should both be floats

Outcome should be a boolean

In [14]:
# Question 2: Remove the rows with data errors in your jupyter notebook.
pima_dedupped_df = pima_dedupped_df[
    (pima_dedupped_df['BloodPressure'] != 'Error') &
    (pima_dedupped_df['BMI'] != 'Error') &
    (pima_dedupped_df['Outcome'] != 'ERROR') 
]
pima_dedupped_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 832 entries, 0 to 1001
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               832 non-null    float64
 1   Glucose                   832 non-null    float64
 2   BloodPressure             832 non-null    object
 3   SkinThickness             832 non-null    int64
 4   Insulin                   832 non-null    int64
 5   BMI                       832 non-null    object
 6   DiabetesPedigreeFunction  832 non-null    float64
 7   Age                       832 non-null    float64
 8   Outcome                   832 non-null    object
dtypes: float64(4), int64(2), object(3)
memory usage: 65.0+ KB

In [15]:
# Question 3: change the columns to the correct type and save this as the pima_fixed_columns_df.
pima_dedupped_df['Outcome'] = pima_dedupped_df['Outcome'].astype('bool')
pima_dedupped_df['BMI'] = pima_dedupped_df['BMI'].astype('float')
pima_dedupped_df['BloodPressure'] = pima_dedupped_df['BloodPressure'].astype('float')

pima_fixed_columns_df = pima_dedupped_df

In [16]:
# Question 4: Run pima_fixed_columns_df.info() to confirm the columns have changed.
pima_fixed_columns_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 832 entries, 0 to 1001
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               832 non-null    float64
 1   Glucose                   832 non-null    float64
 2   BloodPressure             832 non-null    float64
 3   SkinThickness             832 non-null    int64
 4   Insulin                   832 non-null    int64
 5   BMI                       832 non-null    float64
 6   DiabetesPedigreeFunction  832 non-null    float64
 7   Age                       832 non-null    float64
 8   Outcome                   832 non-null    bool
dtypes: bool(1), float64(6), int64(2)
memory usage: 59.3 KB

## Part 5
**Outlier Detection and Removal**

In [17]:
# Question 1, Print out the Outliers in each column, use the IQR method of outlier detection.
import statistics as stats

def outliers_IQR (column):
    Q1 = column.quantile(.25)
    Q3 = column.quantile(.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5*IQR
    upper_bound = Q3 + 1.5*IQR
    outliers = (column < lower_bound) | (column > upper_bound)
    return outliers 

# use outliers_IQR function for each column
pima_fixed_columns_df['PregOutlier'] = outliers_IQR(pima_fixed_columns_df['Pregnancies'])
pima_fixed_columns_df['GlucoseOutlier'] = outliers_IQR(pima_fixed_columns_df['Glucose'])
pima_fixed_columns_df['BloodPressureOutlier'] = outliers_IQR(pima_fixed_columns_df['BloodPressure'])
pima_fixed_columns_df['SkinThicknessOutlier'] = outliers_IQR(pima_fixed_columns_df['SkinThickness'])
pima_fixed_columns_df['InsulinOutlier'] = outliers_IQR(pima_fixed_columns_df['Insulin'])
pima_fixed_columns_df['BMIOutlier'] = outliers_IQR(pima_fixed_columns_df['BMI'])
pima_fixed_columns_df['DiabetesPedigreeFunctionOutlier'] = outliers_IQR(pima_fixed_columns_df['DiabetesPedigreeFunction'])
pima_fixed_columns_df['AgeOutlier'] = outliers_IQR(pima_fixed_columns_df['Age'])
# doesn't work for oultiers becasue of datatype boolean 

pima_fixed_columns_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,PregOutlier,GlucoseOutlier,BloodPressureOutlier,SkinThicknessOutlier,InsulinOutlier,BMIOutlier,DiabetesPedigreeFunctionOutlier,AgeOutlier
0,3.0,167.0,39.0,28,545,53.0,2.447,125.0,True,False,False,False,False,False,False,False,False
1,13.0,151.0,107.0,38,10000,9.2,0.507,148.0,True,False,False,False,False,True,False,False,False
2,8.0,59.0,109.0,18,739,59.1,1.769,91.0,True,False,False,False,False,False,False,False,False
4,10.0,165.0,48.0,37,737,39.4,0.729,73.0,True,False,False,False,False,False,False,False,False
5,-100.0,142.0,88.0,39,82,42.7,1.369,148.0,True,True,False,False,False,False,False,False,False

In [19]:
# Question 2, Use loc to remove outliers in each of the columns that have outliers, save this as pima_outlier_removed_df.
pima_outlier_removed_df = pima_fixed_columns_df.loc[~pima_fixed_columns_df['PregOutlier']]
pima_outlier_removed_df = pima_outlier_removed_df.loc[~pima_outlier_removed_df['GlucoseOutlier']]
pima_outlier_removed_df = pima_outlier_removed_df.loc[~pima_outlier_removed_df['BloodPressureOutlier']]
pima_outlier_removed_df = pima_outlier_removed_df.loc[~pima_outlier_removed_df['SkinThicknessOutlier']]
pima_outlier_removed_df = pima_outlier_removed_df.loc[~pima_outlier_removed_df['InsulinOutlier']]
pima_outlier_removed_df = pima_outlier_removed_df.loc[~pima_outlier_removed_df['BMIOutlier']]
pima_outlier_removed_df = pima_outlier_removed_df.loc[~pima_outlier_removed_df['DiabetesPedigreeFunctionOutlier']]
pima_outlier_removed_df = pima_outlier_removed_df.loc[~pima_outlier_removed_df['AgeOutlier']]
# does not work for outcome b/c bool datatype whoch we already removed the error from 

pima_outlier_removed_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,PregOutlier,GlucoseOutlier,BloodPressureOutlier,SkinThicknessOutlier,InsulinOutlier,BMIOutlier,DiabetesPedigreeFunctionOutlier,AgeOutlier
0,3.0,167.0,39.0,28,545,53.0,2.447,125.0,True,False,False,False,False,False,False,False,False
2,8.0,59.0,109.0,18,739,59.1,1.769,91.0,True,False,False,False,False,False,False,False,False
4,10.0,165.0,48.0,37,737,39.4,0.729,73.0,True,False,False,False,False,False,False,False,False
6,6.0,151.0,60.0,26,362,43.4,2.027,23.0,True,False,False,False,False,False,False,False,False
7,0.0,179.0,0.0,19,238,47.7,2.656,77.0,True,False,False,False,False,False,False,False,False

In [20]:
# Question 3, Print out the row count in the pima_outlier_removed_df and confirm this number is correct.
row_count = pima_outlier_removed_df.shape[0]
print(f"Row count: {row_count}")

Row count: 828

In [36]:
# or we can just use .info()
pima_outlier_removed_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 828 entries, 0 to 1001
Data columns (total 25 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Pregnancies                       828 non-null    float64
 1   Glucose                           828 non-null    float64
 2   BloodPressure                     828 non-null    float64
 3   SkinThickness                     828 non-null    int64
 4   Insulin                           828 non-null    int64
 5   BMI                               828 non-null    float64
 6   DiabetesPedigreeFunction          828 non-null    float64
 7   Age                               828 non-null    float64
 8   Outcome                           828 non-null    bool
 9   PregOutlier                       828 non-null    bool
 10  Pregnancies_Outlier               828 non-null    bool
 11  Glucose_Outlier                   828 non-null    bool
 12  BloodPressure_Outlier             828 non-null    bool
 13  SkinThickness_Outlier             828 non-null    bool
 14  Insulin_Outlier                   828 non-null    bool
 15  BMI_Outlier                       828 non-null    bool
 16  DiabetesPedigreeFunction_Outlier  828 non-null    bool
 17  Age_Outlier                       828 non-null    bool
 18  GlucoseOutlier                    828 non-null    bool
 19  BloodPressureOutlier              828 non-null    bool
 20  SkinThicknessOutlier              828 non-null    bool
 21  InsulinOutlier                    828 non-null    bool
 22  BMIOutlier                        828 non-null    bool
 23  DiabetesPedigreeFunctionOutlier   828 non-null    bool
 24  AgeOutlier                        828 non-null    bool
dtypes: bool(17), float64(6), int64(2)
memory usage: 72.0 KB